<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bloger.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bloger.body %>
</p>

<%= link_to 'Edit', edit_bloger_path(@bloger) %> |
<%= link_to 'Back', blogers_path %>
